body 
{
background: rgb(236,233,230);
background: linear-gradient(153deg, rgba(236,233,230,1) 1%, rgba(255,255,255,1) 100%);
}

a
{
	color: $link-color;
}

a:hover
{
	color: $link-color-hover;
}

.nav
{
    border-top-style:solid;
    border-top-color: $header-color;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}
.nav li
{
    display:inline;
}
.nav a
{
	color: $link-color;
    display:inline-block;
    padding:0.5em;
    font-size: 1.5em;
}

.nav a:hover
{
	color: $link-color-hover;
}

.footer-heading {
 font-size:18px;
 margin-bottom:15px
}
.contact-list,
.social-media-list {
 list-style:none;
 margin-left:0
}

.contact li
{
    display:inline;
    padding: $spacing-unit / 3;
}
.contact li img
{
    width: 2em;
    height: 2em;
}

footer 
{
  border-top-style: solid;
  border-width:1px 0;
  border-top-color: $header-color;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.logo 
{
  color: $header-color;
  font-size: 3.5em;
  margin: auto;
  width: 50%;
  text-align:center;
  font-weight: bold;
  padding-bottom: 5px;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
color: #fff;
background-color: #000;
}

h1
{
  padding-bottom: 10px;
padding-top: 5px;
padding-left: 10px;
padding-right: 5px;
color: #fff;
background-color: #000;

}
h2
{
  color: $text-color;
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  color: $text-color;
  border-collapse: collapse;
  border: 1px solid $header-color;
  tr {
    &:nth-child(even) {
      background-color: darken($background-color, 2%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($background-color, 3%);
    border: 1px solid  darken($background-color, 12%) ;
    border-top-color: $header-color;
  }
  td {
    border: 1px solid darken($background-color, 12%);
  }
}
